<!doctype html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户管理系统</title>
    <link rel="stylesheet" href="assets/css/main.css"/>
</head>
<body>
<div class="container">
    <div class="header">
        <span class="title">用户管理系统</span>
        <a href="/logout" class="logout">退出系统</a>
    </div>
    <div class="seprate_h"></div>
    <div class="middle">
        <div class="left">
            <ul class="menu">
                <li>系统看板</li>
                <li>用户管理</li>
                <li>角色管理</li>
            </ul>
        </div>
        <div class="seprate_v"></div>
    <div class="table_box">
        <div class="table_header">
            <div class="sitemap">
                <span>当前位置:</span>
                <a href="#">用户管理</a>
            </div>
        </div>
        <iframe src="/userManage" scrolling="no"/>
    </div>
    </div>
</div>
</body>
</html>