<!doctype html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户管理系统</title>
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script>
        function cancel(){
            location.href="manage";
        }

        function checkForm() {

            if($("#code").val().trim()==""){
                alert("请输入角色代码!");
                $("#code").focus();
                return false;
            }
            if($("#name").val().trim()==""){
                alert("请输入角色名称!");
                $("#name").focus();
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <div class="dialog">
        <form action="modify" method="post" onsubmit="return checkForm()">
        <div class="dialog_title">新增用户</div>
        <div class="dialog_content">
            <ul>
                <li>
                    <span class="label">客户端ID</span>
                    <span>:</span>
                    <div>
                        <input type="text" id="clientId" name="clientId" th:value="${client.clientId}"/>
                    </div>
                </li>
                <li>
                    <span class="label">密钥Key</span>
                    <span>:</span>
                    <div>
                        <input type="text" id="clientSecret" name="clientSecret" th:value="${client.clientSecret}"/>
                    </div>
                </li>
                <li>
                    <span class="label">范围</span>
                    <span>:</span>
                    <div>
                        <input type="text" id="scope" name="scope" th:value="${client.scope}"/>
                    </div>
                </li>
                <li>
                    <span class="label">授权类型</span>
                    <span>:</span>
                    <div>
                        <input type="text" id="grantType" name="grantType" th:value="${client.grantType}"/>
                    </div>
                </li>
                <li>
                    <span class="label">重定向地址</span>
                    <span>:</span>
                    <div>
                        <input type="text" id="redirectUrl" name="redirectUrl" th:value="${client.redirectUrl}"/>
                    </div>
                </li>
            </ul>
        </div>
        <div class="dialog_footer">
            <input type="hidden" name="id" th:value="${client.id}"/>
            <input type="submit" value="确定"/>
            <input type="button" value="取消" onclick="cancel()"/>
        </div>
        </form>
    </div>
</body>
</html>